@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #837E9F;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
}

p {
    font-size: 13px
}

h1 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 700;
}

h2 {
    font-size: 20px;
    font-weight: 700;
}

h3 {
    font-size: 18px;
    font-weight: 700;
}

body {
    background: url(../img/Fundo.png) #121214 no-repeat;
    background-size: contain;
}

.window {
    border-radius: 20px;
    min-height: 100px;
    width: 80%;
    margin: 30px auto;
    padding: 32px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.informations  div {
    display: flex;
    align-items: center;
    padding: 14px;
}

.informations img {
    padding-right: 16px;
}

.profile {
    text-align: center;
    padding-bottom: 49px;
}

#picture {
    width: 128px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.skills {
    background-color: #CB92B1;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 15px;
    width: 30%;
    text-align: center;
    color: #121214;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

.grid {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.window ul {
    margin: 12px 20px;
}

.window li {
    padding: 8px;
}

li p {
    padding-bottom: 2px;
}

.list-header {
    font-weight: 700;
    font-size: 14px;
}