@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #837E9F;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
}

/* FONTS */

p {
    font-size: 13px
}

a:hover {
    color: #CB92B1;
    transition: all 0.2s;
}

h1 {
    font-size: 23px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

body {
    background: url(../img/Fundo.png) #121214 no-repeat;
    background-size: contain;
}