@media (min-width: 375px) {
    .informations img {
        padding-right: 16px;
    }
}

@media (min-width: 630px) {
}

@media (min-width: 925px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px;
    }
    
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 30px;
        align-self: start;
    }
    
    aside {
        display: grid;
        gap: 30px;
    }
    
    .box {
        grid-column: 1/3;
    }
}