/* LAYOUT */
.container {
    padding: 40px;
}

/* GENERAL TABS STYLE */
.box, .item {
    padding: 32px;
    background-color: #302F3D;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* ASIDE TABS STYLE */

.informations  div {
    display: flex;
    align-items: center;
    padding: 14px 0;
}

.informations img {
    padding-right: 8px;
}

.profile {
    text-align: center;
    padding-bottom: 49px;
}

#picture {
    width: 128px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.grid {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skills {
    background-color: #CB92B1;
    border-radius: 25px;
    padding: 8px;
    margin-bottom: 15px;
    min-width: 30%;
    text-align: center;
    color: #121214;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
}

.box ul {
    margin: 12px 20px;
}

li p {
    padding-bottom: 2px;
}

.list-header {
    font-weight: 700;
    font-size: 14px;
}

.repositoryName {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 20px;
}

.repositoryName img {
    width: 16px;
    margin-right: 16px;
}

.description {
    margin-bottom: 40px;
}

.info, .languageBox  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info p {
    padding-left: 6px;
}

.color {
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.2);
    width: 13px;
    height: 13px;
    margin-right: 4px;
}

.orange {
    background-color: #e34c26;
}
.purple {
    background-color: #563d7c;
}
.yellow {
    background-color: #f1e05a;
}

.info img:not(:first-child){
    margin-left: 16px;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 300px;
    align-items: center;
    background-image: url("../img/sneaker.png");
    background-image: linear-gradient(to bottom, rgba(224, 34, 34, 0) 0%, #302F3D  70%), url("../img/sneaker.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.projects button {
    border: none;
    background-color: #563d7c;
    color: #CB92B1;
    width: 120px;
    border-radius: 25px;
    padding: 4px;
    margin: 6px 0;
}